asn1crypto==0.24.0
Click==7.0
cryptography==2.1.4
enum34==1.1.6
eventlet==0.17.4
Flask==1.1.1
Flask-SocketIO==4.2.1
greenlet==0.4.15
gunicorn==18.0
idna==2.6
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.10.3
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
pycrypto==2.6.1
pygobject==3.26.1
python-engineio==3.9.3
pyxdg==0.25
SecretStorage==2.3.1
simple-http-server==0.1.7
six==1.12.0
virtualenv==16.7.6
Werkzeug==0.16.0
xlrd==1.2.0
twilio==6.32.0
PyGeoj==1.0.0
